# Imtihon

In [ ]:
# 1. Supervised ML qanday turlarga bo’linadi?
# 1. Casification (bu ham ikkiga bulinadi, binary and multi clasification) 2 Regression (qul bn sanab bulmaygigan jb lar un)

In [3]:
# 3. Input va outputni bir biridan farqi nimada?
# input lar bu malumotlar bb outputlar esa modelning bashoratlari

In [4]:
# 4. Data Preprocessing nima?
# Data Preprocessing - bu malumotlarni tayyorlash jarayoni, malumotlarni tozalash, tushirilganlarni tuldirish, va boshqalar.

In [ ]:
# 5. Mean va Modeni farqi nimada?
# Mean - bu malumotlarning ortacha qiymati, Modeni esa eng kop uchraydigan qiymat.

In [6]:
# 6. Regression va Classificationga idea ayting?
# Regression - bu malumotlar asosida sonli qiymatlarni bashorat qilish, masalan, uy narxini bashorat qilish.
# Classification - bu malumotlar asosida kategoriyalarni aniqlash, masalan, emailni spam yoki spam emas deb tasniflash.

In [7]:
# 7. Tushurib qoldilgan qiymatlarni to’ldirish usullari va ular qanday ishlaydi?
# - Mean - ortacha qiymati bilan toldirish.
# - Mode eng kup ishlatilgan qiymati bilan toldirish.
# - Median - urtadagi qiymat bilan toldirish.

In [8]:
# 8. ML va AI da eng muhim element?
# Data va malumotlar

In [9]:
# 9. Median qanday ishlaydi? MISOL keltiring.
# - Median - urtadagi qiymat bilan toldirish.

In [10]:
# 10. SML da qanday turdagi dataset bn ishlaymiz?
# - Supervised ML da biz labeled dataset bn ishlaymiz, ya'ni har bir input ga mos output mavjud.

 # Coding

In [12]:
import pandas as pd

In [ ]:
# 1. Agar berilgan son 2 ga bo’linsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

if son  2 == 0:
    print("Yaxshi")
else:
    print("Yomon")

NameError: name 'son' is not defined

In [23]:
# 2. Agar berilgan son musbat bo’lsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?

son = 1
if son > 0:
    print("yaxshi")
else:
    print("yomon")

yaxshi

In [24]:
# 3. Agar berilgan 5 ga va 3 ga bolinsa yaxshi aks xolda yomon degan sozni ekrang chiqaring?
son = 15
if son % 5 == 0 and son % 3 == 0:
    print("Yaxshi")
else:
    print("Yomon")

Yaxshi

In [26]:
# 4. Agar berilgan so’zning bosh xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 
soz = "alisher"
if soz[0].lower() == 'a':
    print("Yaxshi")
else:
    print("Yomon")

Yaxshi

In [27]:
# 5. Agar berilgan so’zning oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 
soz = "alisher"
if soz[-1].lower() == 'a':
    print("Yaxshi")
else:
    print("Yomon")

Yomon

In [28]:
# 6. Agar berilgan so’zning bosh xarfi ‘b’ va oxirgi xarfi ‘a’ bolsa yaxshi aks xolda yomon degan sozni ekrang chiqaring 

soz = "baxrom"
if soz[0].lower() == 'b' and soz[-1].lower() ==
    'a':
    print("Yaxshi")
else:
    print("Yomon")

SyntaxError: invalid syntax (805640935.py, line 4)

In [ ]:
#   7. Berilgan sonning musbat ekanligini isbotlang
son = 5
if son > 0:
    print("Musbat")
else:
    print("Musbat emas")

# ML coding(2-minut)

In [2]:

import pandas as pd

In [3]:
df = pd.read_csv("ai_job_dataset.csv")

In [4]:
df.head()

,job_id,job_title,salary_usd,company_location,company_size,remote_ratio,required_skills,education_required,years_experience,posting_date,job_description_length,benefits_score
0,AI00001,AI Research Scientist,90376.0,China,M,50.0,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9.0,2024/10/18,1076.0,5.9
1,AI00002,AI Software Engineer,61895.0,Canada,M,100.0,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1.0,2024/11/20,1268.0,5.2
2,AI00003,NaN,152626.0,Switzerland,L,0.0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2.0,2025/03/18,1974.0,9.4
3,AI00004,NaN,80215.0,India,M,50.0,"Scala, SQL, Linux, Python",PhD,7.0,2024/12/23,1345.0,8.6
4,AI00005,AI Consultant,54624.0,France,S,100.0,"MLOps, Java, Tableau, Python",Master,0.0,2025/04/15,1989.0,6.6

In [7]:
df.isnull().sum()

job_id                    2
job_title                 6
salary_usd                0
company_location          0
company_size              5
remote_ratio              4
required_skills           2
education_required        1
years_experience          4
posting_date              5
job_description_length    8
benefits_score            3
dtype: int64

In [6]:
#  1. Mean orqali to’ldiring
df['salary_usd'].fillna(df['salary_usd'].mean(), inplace=True)

/var/folders/p7/yhy3_xrd6cg9c5gjkkbmgbj80000gr/T/ipykernel_21432/1593431775.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary_usd'].fillna(df['salary_usd'].mean(), inplace=True)

In [13]:
# 2. Mode orqali to’ldiring
df['posting_date'].fillna(df['posting_date'].mode()[0], inplace=True)

In [14]:
df.isnull().sum()

job_id                    2
job_title                 6
salary_usd                0
company_location          0
company_size              5
remote_ratio              4
required_skills           2
education_required        1
years_experience          4
posting_date              0
job_description_length    8
benefits_score            3
dtype: int64

In [15]:
# 4. Fixed qiymat bn to’ldiring
df['remote_ratio'].fillna('44', inplace=True)

/var/folders/p7/yhy3_xrd6cg9c5gjkkbmgbj80000gr/T/ipykernel_21432/2922818338.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['remote_ratio'].fillna('44', inplace=True)
/var/folders/p7/yhy3_xrd6cg9c5gjkkbmgbj80000gr/T/ipykernel_21432/2922818338.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '44' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['remote_ratio'].fillna('44', inplace=True)

In [16]:
df.isnull().sum()

job_id                    2
job_title                 6
salary_usd                0
company_location          0
company_size              5
remote_ratio              0
required_skills           2
education_required        1
years_experience          4
posting_date              0
job_description_length    8
benefits_score            3
dtype: int64

In [19]:
#  5. Istalgan ustunni tashlab yuboring
df.drop(['company_logo'], axis=1, inplace=True)

KeyError: "['company_logo'] not found in axis"

In [20]:
# 6. Qatorlar bo’yicha to’ldiring

In [21]:
df.isnull().sum()

job_id                    2
job_title                 6
salary_usd                0
company_location          0
company_size              5
remote_ratio              0
required_skills           2
education_required        1
years_experience          4
posting_date              0
job_description_length    8
benefits_score            3
dtype: int64

In [ ]:
print(2+2)