# Data Processing

In [2]:
import pandas as pd

In [10]:
df=pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [12]:
df.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5268 non-null   object
 1   Time          3049 non-null   object
 2   Location      5248 non-null   object
 3   Operator      5250 non-null   object
 4   Flight #      1069 non-null   object
 5   Route         3561 non-null   object
 6   Type          5241 non-null   object
 7   Registration  4933 non-null   object
 8   cn/In         4040 non-null   object
 9   Aboard        5246 non-null   float64
 10  Fatalities    5256 non-null   float64
 11  Ground        5246 non-null   float64
 12  Summary       4878 non-null   object
dtypes: float64(3), object(10)
memory usage: 535.2+ KB

In [14]:
df.isnull().sum()

Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1707
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

In [15]:
df['Time']

0       17:18
1       06:30
2         NaN
3       18:30
4       10:30
        ...
5263    06:30
5264      NaN
5265    00:15
5266    08:30
5267      NaN
Name: Time, Length: 5268, dtype: object

In [16]:
df['Time'].fillna(df['Time'].mean(),inplace=True)

TypeError: can only concatenate str (not "int") to str

In [21]:
df['aboard'].fillna(df['aboard'].mean(),inplace=True)

KeyError: 'aboard'

In [22]:
df['Registration'].fillna(df['Registration'].mode(),inplace=True)

In [23]:
df['Aboard'].fillna(df['Aboard'].mode(),inplace=True)

/var/folders/p7/yhy3_xrd6cg9c5gjkkbmgbj80000gr/T/ipykernel_99318/3553038832.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Aboard'].fillna(df['Aboard'].mode(),inplace=True)

In [25]:
df['Summary'].fillna(df['Summary'].median(),inplace=True)

TypeError: Cannot convert ['During a demonstration flight, a U.S. Army flyer flown by Orville Wright nose-dived into the ground from a height of approximately 75 feet, killing Lt. Thomas E. Selfridge who was a passenger. This was the first recorded airplane fatality in history.  One of two propellers separated in flight, tearing loose the wires bracing the rudder and causing the loss of control of the aircraft.  Orville Wright suffered broken ribs, pelvis and a leg.  Selfridge suffered a crushed skull and died a short time later.'
 'First U.S. dirigible Akron exploded just offshore at an altitude of 1,000 ft. during a test flight.'
 'The first fatal airplane accident in Canada occurred when American barnstormer, John M. Bryant, California aviator was killed.'
 ...
 'The Airbus went missing over the AtlantiOcean on a flight from Rio de Janeiro to Paris, France. The plane departed from Rio de Janeiro-Galeao International Airport at 19:03 LT bound for Charles de Gaulle Airport in Paris. The last radio contact with the flight was at 01:33 UTC.  The aircraft left CINDACTA III radar coverage at 01:48 UTC, flying normally at FL350. The aircraft reportedly went through a thunderstorm with strong turbulence at 02:00 UTC. At 02:14 UTC an automated message was received indicating a failure of the electrical system. The plane carried 12 crew members and 216 passengers.'
 'The air ambulance crashed into hills while attempting to land in heavy fog about 4 miles from the airport.'
 'The military transport went missing while en route and might have crashed due to heavy rain in the mountainous region.'] to numeric